.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

.gradient-hover-effect {
    background: linear-gradient(90deg, #751f58, transparent) #e72a2a;
    font-family: inherit;
    color: #fff;
    text-decoration: none;
    place-content: center;
}

.gradient-hover-effect:hover,
.gradient-hover-effect:focus {
    background-color: black;
    color: #fff;
}

.search-bar {
    width: 600px;

}

.list-style {
    margin-left: -12px;
}

.navbar-line {
    border-bottom: 1px solid rgb(220, 164, 9);
}

.aa {
    z-index: 999;
}